# ICN Programming Course

<p align="center">
    <img width="500" alt="image" src="https://github.com/Lenakeiz/ICN_Programming_Course/blob/main/Images/cog_neuro_logo_blue_png_0.png?raw=true">
</p>

---

## Pandas
In this part of the lesson we are going to present one of the tools you will most likely use for .

[Pandas library](https://pandas.pydata.org/) defines and makes use of a new _data structure_, _i.e._ the `DataFrame`. 
Actually pandas define more than just a data structure, for instance we will make use of `Series` and examine the difference with dataframes.

### Advantages of pandas

Data scientists use Pandas for its following advantages:

* Easily handles missing data;
* It provides an efficient way to slice the data;
* It provides a flexible way to merge, concatenate or reshape the data;
* It includes a powerful data casting tool to work with;
* It wraps data visualisation libraries in order to quickly plotting analysis results.

Tthe main disadvantage of pandas is that it is relegated to manipulate dataframes whose dimension is strictly lower than memory.
### Dataframes

A `DataFrame` is a table. As any other type in python, it is defined as a class, with its attributes and methods. 
You can check the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html) to see the class APIs and see it s capability

More formally, it is a rank-$2$ array, with axes labelled as _rows_ and _columns_.
It is the basic object in pandas and a really common way to load data in memory in order to operate on them.

Now the question you are all wondering: how to _create a dataframe_. There are several ways, by tuples, by lists, by numpy arrays or even by dictionaries. 
As a first instance, let's consider a list of names corresponding to people and their age, you can create a data frame in this way:

In [1]:
import pandas as pd # pd is a standard alias for pandas library.

In [2]:

# List of lists made by [str, int]
lst = [['mario', 25], ['billy', 30], ['lakitu', 26], ['bowser', 22]]

df = pd.DataFrame(lst, columns=['Name', 'Age'])
df

     Name  Age
0   mario   25
1   billy   30
2  lakitu   26
3  bowser   22

In [3]:
# Dict made by {str: int}
data_dict = {'mario': 25, 'billy': 30, 'lakitu': 26, 'bowser': 22}

df = pd.DataFrame(data=data_dict.items(), columns=['Name', 'Age'])
df

     Name  Age
0   mario   25
1   billy   30
2  lakitu   26
3  bowser   22

In [4]:
# Read from csv file
df = pd.read_csv('datasets/people.csv', header=None, names=['Name', 'Age'])
df

     Name  Age
0   mario   25
1   billy   30
2  lakitu   26
3  bowser   22

In [5]:
# Read from a numpy array
import numpy as np

arr = np.array([['mario', 25], ['billy', 30], ['lakitu', 26], ['bowser', 22]])
df = pd.DataFrame(arr, columns=['Name', 'Age'])
df

     Name Age
0   mario  25
1   billy  30
2  lakitu  26
3  bowser  22

As you can see we have the exact same object.
Once data are organised in the dataframe, no matter how we imported them, they are stored in that object that has always the same methods and attributes.

### Series

A `Series` is a one-dimensional data structure. It can have any data structure like integer, float, and string, or even composite ones like lists, dictionaries, etc. 

It is useful when you want to perform computation or return a one-dimensional array.
A series, by definition, cannot have multiple columns.
For the latter case, use the data frame structure, which indeed can be considered as made up by series.

Series has one parameters, the data, that can be a list, a dictionary, or a scalar value:

In [6]:
pd.Series([1., 2., 3.])

0    1.0
1    2.0
2    3.0
dtype: float64

### Read from files

Data can be loaded in a DataFrame from different data format, like csv, xlx, json, etc.

The most common file type is the csv (comma separated values).
You can load them into a `Dataframe` using `read_csv` method, eventually specifying also the type of delimeter used for separating the values.

In [7]:
df_travel = pd.read_csv('datasets/travel_blog_data.csv', delimiter=';')
df_travel

      2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
0     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
1     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
2     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
3     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
4     2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
...                   ...   ...        ...         ...      ...            ...
1789  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1790  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1791  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1792  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1793  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1794 rows x 6 columns]

This dataset holds the user activity data from a travel blog. 

It is noteworthy a default behaviour in pandas `read_csv`.
The csv file do not have a header row, therefore pandas used the first row of data as header; in order to set the name of the columns you can use the `name` parameter.

In [8]:
df_travel = pd.read_csv('datasets/travel_blog_data.csv', delimiter=';',
                 names=['timestamp', 'event', 'country', 'user_id', 'source', 'topic'],
                 parse_dates=True)
df_travel

                timestamp event    country     user_id   source          topic
0     2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
...                   ...   ...        ...         ...      ...            ...
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1795 rows x 6 columns]

Sometimes, it might be handy not to print the whole dataframe and flood your screen with data. 
When a few lines is enough, you can print only the first $n$ lines – by typing:

```python
df_travel.head(n)
```

If you leave the $n$ parameter blank, the method takes the default value, that is $5$.

In [11]:
df_travel.head(20)

              timestamp event    country     user_id   source          topic
0   2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1   2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2   2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3   2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4   2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
5   2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
6   2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
7   2018-01-01 00:06:15  read  country_6  2458151268  AdWords         Europe
8   2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America
9   2018-01-01 00:07:29  read  country_5  2458151270   Reddit  North America
10  2018-01-01 00:07:57  read  country_5  2458151271  AdWords           Asia
11  2018-01-01 00:08:57  read  country_7  2458151272      SEO      Australia
12  2018-01-01 00:09:11  read  country_5  2458151273   Reddit           Asia
13  2018-01-01 00:09:29  read  country_2  2458151274   Reddit         Europe
14  2018-01-01 00:11:06  read  country_7  2458151275   Reddit         Africa
15  2018-01-01 00:11:22  read  country_7  2458151276      SEO  North America
16  2018-01-01 00:13:05  read  country_8  2458151277      SEO  North America
17  2018-01-01 00:13:06  read  country_2  2458151278   Reddit           Asia
18  2018-01-01 00:13:39  read  country_4  2458151279      SEO  North America
19  2018-01-01 00:14:53  read  country_2  2458151280   Reddit           Asia

By symmetry, you can imagine what the `tail` method returns.

In [10]:
df_travel.tail()

                timestamp event    country     user_id   source          topic
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

We might also need a random sampling of $k$ lines out of the dataframe, this can be achieved by the `sample` method.

In [12]:
df_travel.sample(7)

                timestamp event    country     user_id  source          topic
1025  2018-01-01 13:46:55  read  country_6  2458152286  Reddit  South America
763   2018-01-01 10:20:03  read  country_3  2458152024     SEO  North America
997   2018-01-01 13:27:45  read  country_6  2458152258  Reddit           Asia
1154  2018-01-01 15:34:33  read  country_5  2458152415     SEO           Asia
1557  2018-01-01 21:06:21  read  country_2  2458152818  Reddit           Asia
1794  2018-01-01 23:59:38  read  country_5  2458153055  Reddit           Asia
445   2018-01-01 06:04:00  read  country_5  2458151706  Reddit           Asia

Other two dataframe methods that are very useful in analysing data are `describe` and `info`.

The `describe` method allows to get some statistical information about our data.

In [13]:
print(type(df_travel.describe()))
df_travel.describe()

<class 'pandas.core.frame.DataFrame'>

            user_id
count  1.795000e+03
mean   2.458152e+09
std    5.183162e+02
min    2.458151e+09
25%    2.458152e+09
50%    2.458152e+09
75%    2.458153e+09
max    2.458153e+09

Note how the result is again a dataframe whose index is a list of statistical properties, and as columns the values of indexed properties for the first available numerical column (in our case `user_id`).

As one can read in the [docs](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html) the method returns a Summary statistics of the Series or Dataframe provided.

Again, from the official documentation 

> For numeric data, the result’s index will include `count`, `mean`, `std`, `min`, `max` as well as lower, $50$ and upper percentiles. By default the lower percentile is $25$ and the upper percentile is $75$. The $50$ percentile is the same as the median.
>
> For object data (e.g. strings or timestamps), the result’s index will include `count`, `unique`, `top`, and `freq`. The `top` is the most common value. The `freq` is the most common value’s frequency. `Timestamps` also include the first and last items.
>
> If multiple object values have the highest count, then the `count` and `top` results will be arbitrarily chosen from among those with the highest count.
>
> _For mixed data types provided via a DataFrame, the default is to return only an analysis of numeric columns. If the dataframe consists only of object and categorical data without any numeric columns, the default is to return an analysis of both the object and categorical columns. If include='all' is provided as an option, the result will include a union of attributes of each type._
>
> The include and exclude parameters can be used to limit which columns in a DataFrame are analyzed for the output. The parameters are ignored when analyzing a Series.

We can however try to override the default behaaviour and we can do so by setting `include='all'` parameter.

In [14]:
df_travel.describe(include='all')

                  timestamp event    country       user_id  source topic
count                  1795  1795       1795  1.795000e+03    1795  1795
unique                 1773     1          8           NaN       3     6
top     2018-01-01 03:10:36  read  country_2           NaN  Reddit  Asia
freq                      3  1795        462           NaN     949   667
mean                    NaN   NaN        NaN  2.458152e+09     NaN   NaN
std                     NaN   NaN        NaN  5.183162e+02     NaN   NaN
min                     NaN   NaN        NaN  2.458151e+09     NaN   NaN
25%                     NaN   NaN        NaN  2.458152e+09     NaN   NaN
50%                     NaN   NaN        NaN  2.458152e+09     NaN   NaN
75%                     NaN   NaN        NaN  2.458153e+09     NaN   NaN
max                     NaN   NaN        NaN  2.458153e+09     NaN   NaN

On the other hand, we also have `info` method.

In [17]:
dataframe_info  = df_travel.info()
dataframe_info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  1795 non-null   object
 1   event      1795 non-null   object
 2   country    1795 non-null   object
 3   user_id    1795 non-null   int64
 4   source     1795 non-null   object
 5   topic      1795 non-null   object
dtypes: int64(1), object(5)
memory usage: 84.3+ KB

This method actually returns a `NoneType`. But in the execution _prints_ on screen some information about the dataframe. 
It is less informative (almost not informative at all) from the statistics point of view, but it tells us some numerical property of the dataframe, indeed this method prints information about the DataFrame including the index `dtype` and columns, non-null values and memory usage.

Interesting enough the first colum however should be able to be parsed into an object more easy to read. 
In particular, since the column clearly represents a date we can transform it into an object that is more recognisibile.
We can parse it into `datetime` object.

In [18]:
# Using the dadtaframe function to_datetime() to convert the timestamp column to datetime
# Saving the output directly to the timestamp column by replacing it
df_travel['timestamp'] = pd.to_datetime(df_travel['timestamp'])
df_travel.info()

# Extracting date and time from the first row
first_row_timestamp = df_travel.loc[0, 'timestamp']
extracted_date = first_row_timestamp.date()
extracted_time = first_row_timestamp.time()

print("Date from the first row:", extracted_date)
print("Time from the first row:", extracted_time)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  1795 non-null   datetime64[ns]
 1   event      1795 non-null   object
 2   country    1795 non-null   object
 3   user_id    1795 non-null   int64
 4   source     1795 non-null   object
 5   topic      1795 non-null   object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 84.3+ KB
Date from the first row: 2018-01-01
Time from the first row: 00:01:01

The last descriptive method we present here is the `corr` one. 
By using such a method we can generate the relationship between each numerical variables.
This function will throw an error if you load a dataset that does not contain numerical values.

In [19]:
df_memory = pd.read_csv('datasets/memory_recall_test.csv', delimiter=',')
df_memory.head()

correlation_matrix = df_memory.corr()
correlation_matrix

,Age (Years),Reaction Time (Milliseconds),Memory Recall Score (Out of 100),Stress Level (Scale 1-10)
Age (Years),1.000000,0.944092,-0.871905,0.957697
Reaction Time (Milliseconds),0.944092,1.000000,-0.941544,0.905633
Memory Recall Score (Out of 100),-0.871905,-0.941544,1.000000,-0.868204
Stress Level (Scale 1-10),0.957697,0.905633,-0.868204,1.000000

### Filter by selecting columns

Sometimes you will need to only work with specific columns from a dataset.
You can do so by using the two following and equivalent syntaxes.
The second syntax is less flexible as it required the column names to be in a certain way.

In [ ]:
# first way, the square bracket notation
df_memory['Age (Years)']

In [ ]:
# second way, the point notation
# the column name must not contain spaces, special characters, or starts with a number
# if you want to use dot notation, you would need to rename the column to remove spaces and special characters.
# for example:
df_memory.rename(columns={'Age (Years)': 'Age_years'}, inplace=True)

# the inplace parameter is used to modify the dataframe in place, without creating a new dataframe object otherwise you would need to assign the output to a new variable
# new_df_memory = df_memory.rename(columns={'Age (Years)': 'Age_years'})
df_memory.Age_years

<div class="alert alert-block alert-info">
⚠️ Both of the previous syntaxes return a <em>Series</em> rather than a <em>Dataframe</em>
</div>

If you want a dataframe, you need to slightly change the previous commands in

In [ ]:
# Hard way, no one uses that.
pd.DataFrame(df_memory.Age_years)

In [ ]:
# Easy way, it generalises easily to the multi-column case.
df_memory[['Age_years']]

#### What about multi-column filter?

As the previous cell might suggest, you only need to pass a list of columns.

Note the double bracket `[[]]`, you can consider `[]` as a _filter_ operator, whose argument is the list of columns.
Recall that a `Series` admits only one column, hence the result of this operation cannot be other than a dataframe.

In [ ]:
df_travel[['user_id','country']]

The order of names changes the order in the returned dataframe.

In [ ]:
df_travel[['country', 'user_id']]

### Filter rows on values

There is complementary way of filtering a dataframe, on rows value. Hence, we can reduce the number of records in the dataframe based on some condition.

Let's use the imnported travel dataframe, and for instance, you want to see the entries corresponding to the users who came from the "SEO" source. In this case you have to filter for the "SEO" value in the "source" column.

In [ ]:
df_travel[df_travel.source == 'SEO']

In order to better understand the command above, let's focus on how pandas interpret the filtering procedure.

**Step 1**: First, between the bracket frames `[]` it evaluates every line: is the `df.source` column’s value `'SEO'` or not? The results are boolean values (True or False), better a `Series` of boolean values. 
Indeed, we have seen how `df.source` is a series, a comparison with a value (through the binary operator `==`) will produce a truth-value object of the same type of `df.source` hence a series.

In [ ]:
# Note the dtype attribute
df_travel.source == 'SEO'

**step 2**: The previous boolean series is what is called a _mask_.
If we filter through a mask, the filtered dataframes returns every row where the mask is `True` and drops any row where it is `False`.
This is equivalent to the logical indexing in `Matlab`

In [ ]:
# A less concise, but maybe clearer notation
mask_seo = (df_travel.source == 'SEO') # Boolean series
df_travel[mask_seo] # Masks away the rows corresponding to "False".

It is obvious now that you can combine more conditions to end up into a boolean mask and apply even complicated filter.

_Example_: We want to filter the dataframe to get all the users coming from a "SEO" source, with topic related to "Asia" and with a timestamp between 23.00 and 23.30.

In [ ]:
bool_mask = ((df_travel.source == 'SEO') & (df_travel.topic == 'Asia') & (df_travel.timestamp >= '2018-01-01 23:00:00') & (df_travel.timestamp <= '2018-01-01 23:30:00'))
df_travel[bool_mask]

### Creating new columns

Creating a new column is easy, you simply _declare_ the new column name as `df["new_col"] =  new_col` where `new_col` is a pandas Series.
The new column will be filled with `NaN`` (Not a Number, which is Pandas' standard missing data marker) for all rows where the Series does not have a corresponding index.

You can also calculate the new column entries by operating on existing ones.

In [ ]:
# Create a new column as the string concatenation of "country" and "topic"
df_travel["contry_code_per_continent"] = df_travel.country + "||" + df_travel.topic
df_travel

In [ ]:
# Create a further column made by the 2nd letter of the string contained in the "event" column
df_travel["part_string"] = df_travel.event.str[1]
df_travel

### Sequential filtering and masks 

Filter and mask operations can be used sequentially, one after the other.

It is very important to understand that pandas’s logic is linear. 
So if you apply a function, you can always apply another one on the result. 
In this case, the input of the latter function will always be the output of the previous one. 
This will have a very nice consequence in a construct called `pipe` (see later for details).

As you have already seen, for instance, we can combine two selection methods.

In [ ]:
# executed head() first then apply the column selection
df_travel.head()[['country', 'user_id']]

This line first selects the first $5$ rows of our dataframe. And then it takes only the ‘country’ and the ‘user_id’ columns.

As these operations are commutative, you would not be surprised by the fact that one can get the same result with the reversed chain of functions.

In [ ]:
df_travel[['country', 'user_id']].head()

In this version, you select the columns first, then take the first five rows. 
The result is the same – just the order of the functions (and the execution) is different.

_Try to think which one is better in terms of computational time._

We can check it by running some very simple test using the Python in-built package time

In [ ]:
import time

# This dataset is quite large so it s not part of the files you can download from the course page.

df_large_dataset = pd.read_csv('./datasets/large_dataset.csv', delimiter=',')
print(df_large_dataset.shape)
# Initialize total time counters
total_time_first_method = 0
total_time_second_method = 0

iterations = 1000

for _ in range (iterations):
    # Measure time for df_travel[['country', 'user_id']].head()
    start_time = time.time()
    df_large_dataset[['country', 'user_id']].head(100)
    end_time = time.time()
    total_time_first_method += end_time - start_time

    # Measure time for df_travel.head()[['country', 'user_id']]
    start_time = time.time()
    df_large_dataset.head(100)[['country', 'user_id']]
    end_time = time.time()
    total_time_second_method += end_time - start_time

# Compute average time for each method
time_first_method = total_time_first_method / iterations
time_second_method = total_time_second_method / iterations

print(f"Time for first method: {time_first_method:6f} seconds")
print(f"Time for second method: {time_second_method:6f} seconds")

There a lot of interesting ways of selecting columns out of a dataframe. 
Look at this [nice post](https://towardsdatascience.com/interesting-ways-to-select-pandas-dataframe-columns-b29b82bbfb33#:~:text=Selecting%20columns%20based%20on%20their,Returns%20a%20pandas%20series.&text=Passing%20a%20list%20in%20the,columns%20at%20the%20same%20time.) in order to look at some non-standard examples.

### Aggregations

In Python, particularly in the context of data analysis with libraries like Pandas, "aggregation" refers to the process of combining multiple data points into a single value based on a specified criterion or operation.
This process is crucial in data analysis for summarizing data, extracting insights, and simplifying complex datasets.

Let's consider a new dataset.

In [ ]:
zoo = pd.read_csv("datasets/zoo.csv")
zoo

Counting the number of the animals is as easy as applying a `count` function on the zoo dataframe.

In [ ]:
zoo.count()

As one can observe, the `count()` method counts the number of values in each column. 
In the case of the zoo dataset, there were $3$ columns, and each of them had $22$ values in it.

If you want to make your output clearer, you can select the animal column first by using one of the selection operators from the previous section.

In [ ]:
zoo[['animal']].count()

Or in this particular case, the result could be even nicer for Series, in fact to show just the number and not the column name nor the type, one can use the following syntax.

In [ ]:
zoo.animal.count()

Here, as before, one can notice how pandas applied functions sequentially. 
First, `zoo.animal` is a Series, then calculated the count of it. 

Indeed an equivalent, even if less compact notation, for this is the following.

In [ ]:
animal_series = zoo.animal
animal_series.count()

Following the same logic, one can sum all the values inside a column by the `sum` method.

In [ ]:
zoo.water_need.sum()

You can see there are a lot of methods and one should know in advance what they are and how they works.

In order to get such information, the royal road is to read the documentation. However, a convenient way to get a list of all available methods of a class instance is the function `dir`.

In [ ]:
dir(zoo)

By looking at the class function declarations you can start asking questions to your data.

_e.g_ What is the smallest amount of `water_need` for the zoo?

In [ ]:
zoo.water_need.min()

Similarly, one can find the highest value.

In [ ]:
zoo.water_need.max()

And eventually, let’s calculate statistical averages, like mean and median.

In [ ]:
print(f"Mean {zoo.water_need.mean()} and median {zoo.water_need.median()}")

### Grouping
Sometimes you will need to do segmentations on your data.
Think about of an experiment where you want to compare different output metrics based on different experimental conditions.
 
For instance, it is nice to know the mean `water_need` of all animals (we have just learned that it is $347.72$).
But very often it is much more actionable to break this number down – let’s say – by animal types. 
With that, we can compare the species to each other – or we can find outliers.

Here is a simplified visual that shows how pandas performs “_segmentation_” (grouping and aggregation) based on the column values.

<p align="center">
    <img width="735" src="https://github.com/Lenakeiz/ICN_Programming_Course/blob/main/Images/grouping_concepts.png?raw=true">
</p>

Let’s apply grouping on our zoo DataFrame. 

Speaking of code, we only have to fit in a `groupby` keyword between our zoo variable and our `mean()` command.

In [ ]:
zoo.groupby('animal').mean()

This is a very important operation. We aggregated by animal unique values (used as indices in the resulting dataframe) and calculated the mean.
Here the mean has the role of _aggregation function_. O
ne can use other aggregation functions to get different results.

_e.g._ median, count, list, etc.

For example we could try to implement an aggregation function that takes only the 3rd entry from each given animal. 

<div class="alert alert-block alert-info">
ℹ️ you can use the <em>lambda</em> notation to write functions on a line.
</div>

In [ ]:
# Define a lambda function to extract the third entry of each animal
# We'll group by 'animal' and then apply the function to get the third entry
third_entry = lambda x: x.iloc[2] if len(x) > 2 else None

# Apply the aggregation function to the grouped DataFrame
third_entry_df = zoo.groupby('animal').apply(third_entry)
third_entry_df

Finally, note how `groupby` on its own does not aggregate anything.

In [ ]:
df_zoo_group_by = zoo.groupby("animal")
print(type(df_zoo_group_by))
df_zoo_group_by

The type of the returned object is a `DataFrameGroupBy`.
It does not have practical uses, apart from the fact that can be iterated to get a dataframe for each group.

This can be very useful if you are planning to do additional analysis on each of the grouped dataframes.

In [ ]:
for key, df in zoo.groupby("animal"):
    print(f"This is the key, e.g. the selected animal: {key}")
    print(f"This is the df, e.g. the grouped df by animal: \n {df}")
    print("="*20)
    print("\n")

### Merge
In our experiments, we usually do not store all the data in one big data table.

We store it in a few smaller ones instead, usually each data table consisting on the data for each single participant.

Apart from the practicality of doing so, there are many reasons behind this; for instance, by using multiple data tables, it is easier to manage your data, easier to avoid redundancy, you can save some disk space, you can query the smaller tables faster, etc.

The point is that it is quite usual that during your analysis you have to pull your data from two or more different tables.
The solution for that is called _merge_ (in computer programmming this is very similar to use `structured query language (SQL)` on databases).

Let’s take our zoo dataframe in which we have all our animals, and let’s say that we have another dataframe, `zoo_eats`, that contains information about the food requirements for each species.

In [ ]:
# Import dataframe and print it to get a first glance
zoo_eats = pd.read_csv("datasets/zoo_eats.csv")
zoo_eats

As you can see we have the animal column, containing the name of the species and the kind of food they eat.

We want to merge these two tables into one in order to get all the information in the same place.

We can use several way to do that (the most basic one, _strongly_ discouraged is a `for` loop over animal column of `zoo` dataframe). 
One of the most efficient ones is to use the `merge` method of pandas.

In [ ]:
zoo.merge(zoo_eats, on="animal") # Here the `on` parameter is not strictly necessary as it is the only column the two df's have in common.

For those familiar with SQL, this is equivalent to an _inner join_ where left table is `zoo` and right `zoo_eats`.
We could have done the opposite just by exchanging the two dataframes.

```python
zoo_eats.merge(zoo, on="animal")
```

This would have just changed the order of columns.

**Obervation**: Can you see there is no lion 🦁, nor giraffe 🦒? Can you tell why?

The followings are the type of joins that you can operate similar to SQL.

<p align="center">
    <img width="600" src="https://github.com/Lenakeiz/ICN_Programming_Course/blob/main/Images/joins-sql.png?raw=true">
</p>

When you do an `INNER JOIN` (that is the default in pandas), you merge only those values that are found in both tables. 
On the other hand, when you do the `OUTER (FULL) JOIN`, it merges all values, even if you can find some of them in only one of the tables.

Let’s see a concrete example: did you realize that there is no lion value in zoo_eats? Or that we don’t have any giraffes in zoo? When we did the merge above, by default, it was an INNER merge, so it filtered out giraffes and lions from the result table. But there are cases in which we do want to see these values in our joined dataframe.

In [ ]:
zoo.merge(zoo_eats, how='outer')

Lions came back 🦁, the giraffe came back 🦒.

The only thing is that we have empty (`NaN`) values in those columns where we did not get information from the other table.

Let's do some further observation.
In this specific case, it might make more sense to keep lions in the table but not the giraffes.
Since there are no giraffe in our zoo.
In addition, with this choice, we could see all the animals in our zoo and we would have three food categories: vegetables, meat and NaN (which is basically “no information”). 

In order to do so, we would need to say to the merge method we only want to show animals from `zoo` dataframes, not the `zoo_eats` ones. That is precisely what merging with a `how = 'left'` parameter does.

In [ ]:
zoo.merge(zoo_eats, how="left", on="animal")

No more giraffe 🦒!

The `how = 'left'` parameter brought all the values from the left table (`zoo`) but brought only those values from the right table (`zoo_eats`) that we have in the left one, too.

For doing the merge, pandas needs the key-columns you want to base the merge on (in our case it was the `animal` column in both tables). If you are not so lucky that pandas automatically recognizes these key-columns, or if they have different names you have to help it by providing the column names. That is what the `on`, `left_on` and `right_on` parameters are for.

### Sorting
Sorting is essential. The basic sorting method is not too difficult in pandas. 
The function is called `sort_values`.

In [ ]:
zoo.sort_values('water_need')

For the opposite sorting order it is sufficient to set the boolean parameter `ascending` to `False`.

In [ ]:
zoo.sort_values('water_need', ascending=False)

Quite often, you have to sort by multiple columns, so in general, it is recommended using the by keyword for the columns.
The list of keys order sets the order of priority in the sorting.

In [ ]:
zoo.sort_values(by=['animal', 'water_need'])

### Indexing

You may have noticed pandas dataframes have an index structure. This can be retrieved by the attribute `index`

In [ ]:
zoo.index

You can use the python indexing notation on the `df.loc` and `df.iloc` objects to retrieve entries. 
Note, `loc` stands for location, while `iloc` stands for _index location_.

The main distinction between `loc` and `iloc` is:

* `loc` is label-based, which means that you have to specify rows and columns based on their row and column _labels_.
* `iloc` is integer position-based, so you have to specify rows and columns by their _integer position values_ (0-based integer position).

We report here a table to collect differences and similarities.
<p align="center">
    <img width="1000" src="https://miro.medium.com/max/1400/1*CgAWzayEQY8PQuMpRkSGfQ.png">
</p>

In [ ]:
zoo.iloc[3]

In [ ]:
zoo.iloc[lambda x: x.index % 2 == 0]

#### Selecting via a single value
Both loc and iloc allow input to be a single value. We can use the following syntax for data selection:
* `loc[row_label, column_label]`
* `iloc[row_position, column_position]`

When index is numeric, like in our `zoo` example `loc` and `iloc` on rows behaves in the same way.
Let's consider the groupby results.

For example, let’s say we would like to retrieve the 'tiger' water need mean value.
With loc, we can pass the row label 'tiger' and the column label 'water_need'.

In [ ]:
grouped_zoo = zoo.groupby("animal").mean()
grouped_zoo

In [ ]:
grouped_zoo.loc["tiger", 'water_need']

The equivalent `iloc` statement should take the row number `3` and the column number `1`.

In [ ]:
grouped_zoo.iloc[3,1]

There is plenty of other selection choices, hence we refer to [this nice post](https://towardsdatascience.com/how-to-use-loc-and-iloc-for-selecting-data-in-pandas-bd09cb4c3d79) to summarise a further couple of them.


#### Reset_index

Now that we are aware of the indexing structure of dataframes, one may feel in need to reset index order, _e.g._ you may have noticed that after a sorting operation it can happen that all the indexes become shuffled.

Wrong indexing can mess up your visualizations sometimes.

The point is: in certain cases, when you have done a transformation on your dataframe, you have to re-index the rows. For that, you can use the `reset_index()` method.

In [ ]:
zoo.sort_values(by=['water_need'], ascending=False).reset_index()

As you can see, our new dataframe kept the old indexes, too. 
If you want to remove them, just add the `drop = True` parameter.

In [ ]:
zoo.sort_values(by=['water_need'], ascending=False).reset_index(drop=True)

### Fillna

Let’s rerun the left-merge method that we have used above. The `NaN` values appearing in lions rows may be something that we want to discard.

In [ ]:
zoo.merge(zoo_eats, how='left')

The problem is that we have NaN values for lions.
`NaN` usually is a problem when we do our data analysis, so one can choose to replace those values with something more meaningful.
Usually to get unbiased results, we substitute the NaN with the mean for that variable.
In some other case we could put a default value, this can be a $0$ value, or in other cases a specific string value. 

In this case even if the `zoo_eat` dataframe gave us no clue about the lion, we will put our best guess.

<div class="alert alert-block alert-info">
⚠️ Of course you never add best guesses to your real data, unless you are 100% you are not biasing your results
</div>

Let’s use the `fillna` method, which basically finds and replaces all `NaN` values in our dataframe.

In [ ]:
zoo.merge(zoo_eats, how='left').fillna('meat')

---

## A data analysis

Furthermore we are going to use pandas tools to perform an _exploratory data analysis_ over a dataset.

### Import data

An interesting feature of read methods in pandas are that it is allowed to give them a url and they will read data from it.

#### The dataset

We are going to use a famous dataset, the notorious [IMBD movies dataset]().
The IMDB movie reviews dataset is a set of reviews, there are various versions of it, one can read more about the version used in these lectures in the [official documentation](https://files.grouplens.org/datasets/movielens/ml-latest-README.html). 
The dataset is available online and can be either directly downloaded from Stanford’s website.

In [ ]:
# Import data 
df_movies = pd.read_csv("https://raw.githubusercontent.com/LearnDataSci/articles/master/Python%20Pandas%20Tutorial%20A%20Complete%20Introduction%20for%20Beginners/IMDB-Movie-Data.csv", index_col="Title")
df_movies

One can check the dimensions by a method inherited by numpy.

In [ ]:
df_movies.shape

Using `append` will return a copy without affecting the original DataFrame. We are capturing this copy in temp so we aren't working with the real data.

Now we can try dropping duplicates.

In [ ]:
temp_df = df_movies.drop_duplicates()
temp_df.shape

The `drop_duplicates` method will also return a copy of your `DataFrame`, but this time with duplicates removed.

Another important argument for `drop_duplicates` is `keep`, which has three possible options:

1. `"first"`: (default) Drop duplicates except for the first occurrence.
2. `"last"`: Drop duplicates except for the last occurrence.
3. `False`: Drop all duplicates.

Since we did not indicate the keep argument in the previous example it was defaulted to `"first"`. This means that if two rows are the same pandas will drop the second row and keep the first one. 
Using `last` has the opposite effect: the first row is dropped.

`keep = False`, on the other hand, will drop all duplicates. If two rows are the same then both will be dropped. 
Let's see what happens to `temp_df`.

In [ ]:
temp_df = pd.concat([df_movies,df_movies])  # duplicate the entire dataset and append it
temp_df.drop_duplicates(inplace=True, keep=False)
temp_df.shape

Since all rows were duplicates, `keep=False` dropped them all resulting in zero rows being left over.

### Column clean up

Sometimes you will work on other people collected datasets, these datasets might contain verbose column names with symbols, upper and lowercase words, spaces, and typos.
Unless you have a clear instruction of the experiment, how the dataset was collected and what were the exact name of the variables it makes sense to spend a little time cleaning up column names.
Also for how pandas wok with indexing it may be beneficial to change some of the column names.

Here is how to print the column names of our dataset.

In [ ]:
df_movies.columns

Not only does `columns` come in handy if you want to rename columns by allowing for simple copy and paste, it is also useful if you need to understand why you are receiving a Key Error when selecting data by column.

We can use the `rename` method to rename certain or all columns via a dict. We do not want parentheses, so let's rename those.

In [ ]:
df_movies = df_movies.rename(columns={
    'Runtime (Minutes)': 'Runtime',
    'Revenue (Millions)': 'Revenue_millions'
})
df_movies.columns

Excellent. But what if we want to lowercase all names? 
Instead of using `rename` we could also reassing the column attribute to a list of names like so.

In [ ]:
df_movies.columns = [col.lower() for col in df_movies]
df_movies.columns

#### Missing values

When exploring data, one most likely encounters missing or null values, which are essentially placeholders for non-existent values. 
Most commonly in these contexts one faces Python's `None` or NumPy's `np.nan`, each of which have to be handled differently according to situations.

There are two options in dealing with nulls:

1. Get rid of rows or columns with nulls
2. Replace nulls with non-null values

Let's calculate to total number of nulls in each column of our dataset. The first step is to check which cells in our DataFrame are null.

In [ ]:
df_movies.isnull()

Notice `isnull` returns a DataFrame where each cell is either `True` or `False` depending on that cell's null status.

To count the number of nulls we can use the function any that returns a `Series` of True/False if any of the elements in a single row is True after teh `isnull` function

In [ ]:
num_null_rows = df_movies.isnull().any(axis=1).sum()
print("Number of rows with at least one null value:", num_null_rows)

Removing nulls is pretty simple.

In [ ]:
df_movies.dropna() # This drops the whole line where a NaN appears.

This operation will delete any row with at least a single null value, but it will return a new DataFrame without altering the original one.

Other than just dropping rows, you can also drop columns with null values by setting `axis=1`.

In [ ]:
df_movies.dropna(axis=1)

In our dataset, this operation would drop the `revenue_millions` and `metascore` columns.

##### Imputing
Imputation is referred to keeping valuable data replacing the null values.

There may be instances where dropping every row with a null value removes too big a chunk from your dataset, so instead we can impute that null with another value, usually the mean or the median of that column.

Let's look at imputing the missing values in the `revenue_millions` column. First we will extract that column series into its own variable.

In [ ]:
revenues = df_movies['revenue_millions']
revenues.sample(15)

Slightly different formatting than a DataFrame, but we still have our Title index.

We will impute the missing values of revenue using the mean.

__Quick Exercise__: Find the mean of the series.

In [ ]:
revenues_mean = revenues.mean()
print("Mean revenue:", revenues_mean)

The idea is to replace NaN values with the mean.

In [ ]:
revenues = revenues.fillna(revenues_mean)
df_movies['revenue_millions'] = revenues
df_movies['revenue_millions'].isnull().any().sum()

---

### Applying functions

Operating on the datasets means that sometimes we will also be required to do more complicated operations on our dataframes entries is ubiquitous. 
The iteration over a DataFrame or Series as you would with a list is possible, however, because of the complex structure of a dataframe, this is really not efficient.

An efficient alternative is to `apply` a function to the dataset.
For example, we could use a function to convert movies with an 8.0 or greater to a string value of `"good"` and the rest to `"bad"` and use this transformed values to create a new column.

First we would create a function that, when given a rating, determines if it's good or bad.

In [ ]:
def rating_function(x, value):
    if x >= value:
        return "good"
    else:
        return "bad"

Now we want to send the entire rating column through this function, which is what `apply` does.
This operation is _vectorised_ so taking advantage of the pandas structures, it is more efficient than an explicit for loop.

In [ ]:
df_movies["rating_category"] = df_movies["rating"].apply(rating_function, value = 8.0)
df_movies.sample(15)

The `apply` method passes every value in the rating column through the `rating_function` and then returns a new Series.
This Series is then assigned to a new column called `rating_category`.

You can also use anonymous functions as well. This `lambda` function achieves the same result as `rating_function`.

In [ ]:
df_movies["rating_category"] = df_movies["rating"].apply(
    lambda x: 'good' if x >= 8.0 else 'bad')
df_movies.sample(20)

#### Pandas pipe

There is a great method to apply multiple transformation in an efficient and compact way: [`pipe`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pipe.html).

The best way to illustrate it is through an example.

First let's define a bunch of function to apply. The important property is they must all have as parameter and return the dataframe.
You can see the pipe as a transformation map.

In [ ]:
# Define functions

def remove_null(df_movies):
    """remove null values
    
    Parameters
    ----------
    df: pd.DataFrame
        the base dataframe
    
    Returns
    -------
    pd.DataFrame
        the dataframe with null values removed
    """
    return df_movies.dropna()

def drop_genre(df_movies, genre):
    """remove a specific genre movies
    
    Parameters
    ----------
    df: pd.DataFrame
        the base dataframe
    
    genre: str
        the movie genre to be removed.
    
    Returns
    -------
    pd.DataFrame
        the filtered dataframe 
    """
    series_remove = df_movies.genre.str.contains(f"{genre}") # Boolean series
    idx_to_drop = series_remove[series_remove].index # Find indices in the series and use them to drop rows from the dataframe
    print(f"Removing {len(idx_to_drop)} rows")
    print(idx_to_drop)
    return df_movies.drop(index=idx_to_drop)

We can easily build a pipeline over a dataframe by calling `pipe`.

In [ ]:
(df_movies.pipe(remove_null)
    .pipe(drop_genre, "Drama"))